body {
    margin-top: 2vh;
    padding: 0;
    box-sizing: border-box;
    background-color: #383548;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Tektur', sans-serif;
    border: green 2px solid;
    border-radius: 2vh;
}

.HeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 8vh;
}

#Logo {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: gainsboro;
    border-radius: 10vh;
    width: 10vh;
    height: 10vh;
    box-shadow: green 2px 2px 1px 2px ;
    
}

#Logo img {
    height: 25vh;
}

#Logo img:hover {
    transform: scale(1.2);
    transition: 2000ms;
}

/* Main */

.MainContainer {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


#MainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#MainContent h4 {
    text-align: center;
    width: 60%;
}

#MainContent h2 {
    text-align: center;
    width: 80%;
    box-shadow: green 2px 2px 15px 2px;
    border-radius: 5vh;
    background-color: aliceblue;
    width: 80%;
    height: 10%;
    color: #383548;
}

#MainContent img {
    height: 35vh;
    box-shadow: green 0px 0px 20px 2px;
    border-radius: 2vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    background-color: white;
}

#MainContent img:hover {
    transform: scale(1.1);
    transition: 2000ms;
}


#ImageComputer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#ImageComputer img {
    height: 50vh;
}

#Video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#Video iframe {
    width: 60%;
    height: 40vh;
    border-radius: 2vh;
    box-shadow: green 2px 2px 25px 2px;
}

#Video:hover {
    transform: scale(1.05);
    transition: 2000ms;
}

.FooterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    flex-direction: column;
    margin-bottom: 8vh;
}

.FooterContainer img {
    height: 8vh;
}

#ImgContainer {
    display: flex;
    flex-direction: row;
    gap: 5vh;
}

.FooterContainer img:hover {
    transform: scale(1.3);
    transition: 2000ms;
}